.Exa{
    background: linear-gradient(
        106.37deg,
        #efdab7 29.63%,
        #f3c0c6 51.55%,
        #d6b4ef 90.85% 
    );
    height:100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Exa-Card{
    height: 50%;
    width: 60%;
    border-radius: 2rem;
    background-color: var(--glass);
    border: solid;
    border-color: rgba(104, 8, 37, 0.71);
    border-width: 5px;
    overflow: hidden;
    
}
.Head{
    display: flex;
    flex-direction: row;    
    align-self: center;
    gap: 15rem;
    padding-left: none;
    border-bottom: 6px solid rgb(158, 235, 139);;
}
.Head span{
    padding: 1.25rem;
    font-size: 18px;
    font-weight: bolder;
    
}
.Instruct{
    display: flex;
    flex-direction: column;
    gap: none;
}
.Instruct span{
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Instruct h4{
    font-weight: bolder;
    margin: 7px;
    margin-top: 1rem;
    color: rgb(226, 17, 58);
}
.Instruct p{
    margin: 7px;
    color: rgb(135, 84, 18);
    
}
.Instruct button{
  margin-left: 600px;
  margin-top: 25px;
  margin-right: 7px;
  width: fit-content;
}
